<div class="row">
    <div class="col s12 m6 l6 offset-l3">
        <div class="card-panel">
            <h5>Пожалуйста, авторизуйтесь</h5>
            <form name="loginForm" novalidate class="center-align">
                <div class="input-field">
                    <input type="text" ng-model="credentials.name" name="name" required/>
                    <label>Имя</label>
                </div>
                <div ng-messages="loginForm.name.$error" ng-if="loginForm.name.$dirty" class="red-text text-darken-4">
                    <div ng-message="required">Обязательное поле<br/><br/></div>
                </div>
                <div class="input-field">
                    <input type="email" ng-model="credentials.email" name="email" required/>
                    <label>Email</label>
                </div>
                <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$dirty"
                     class="red-text text-darken-4 email-error">
                    <div ng-message="email">Неверно заполнено<br/><br/></div>
                    <div ng-message="required">Обязательное поле<br/><br/></div>
                </div>
                <button class="waves-effect waves-light btn login-btn" ng-click="$ctrl.login(credentials)"
                        type="submit" ng-disabled="loginForm.$invalid">Войти
                </button>
            </form>
        </div>
    </div>
</div>