<h3>Список блюд</h3>
<a ui-sref="user-home" class="btn green waves-effect waves-light">В личный кабинет</a>
<br/><br/>

<preloader ng-if="$ctrl.loading"></preloader>

<div class="row" ng-if="!$ctrl.loading">
    <ul class="collapsible" data-collapsible="accordion">
        <li ng-repeat="dish in $ctrl.list">
            <div class="collapsible-header valign-wrapper dishlist">
                <img ng-src="{{dish.image}}" alt="{{dish.title}}" class="circle avatar"/>
                {{dish.title}}
                <button ng-if="$ctrl.isAvailable(dish.price);"
                        class="green waves-effect waves-light btn-floating buy-btn secondary-content"
                        ng-click="$ctrl.buy(dish)">
                    +
                </button>
                <div class="secondary-content" ng-if="!$ctrl.isAvailable(dish.price);">
                    Пополните баланс на {{ $ctrl.getEnoughMoney(dish.price) | currency}}
                </div>
                <div class="secondary-content">
                    <span class="new badge" data-badge-caption="">{{dish.price | currency}}</span>
                </div>
            </div>
            <div class="collapsible-body">
                <p>Ingredients: {{$ctrl.formatList(dish.ingredients)}}</p>
            </div>
        </li>
    </ul>
</div>

<div class="center-align">
    <pagination page="$ctrl.currentPage" page-size="$ctrl.limit" total="$ctrl.totalCount"
                pagination-action="$ctrl.getDishList(page)"></pagination>
</div>