<div class="row">
    <div class="col s12 m5 l3">
        <div class="card-panel">
            <h5>{{$ctrl.user.name}}</h5>
            <p>Баланс: <span class="user-balance">{{$ctrl.user.balance | currency}}</span></p>
            <button class="waves-effect waves-light btn user-balance-add" ng-click="$ctrl.addMoney()">Пополнить</button>
            <br/><br/>
            <button class="grey lighten-1 btn user-logout" ng-click="$ctrl.logout()">Выйти</button>
        </div>
    </div>
    <div class="col s12 m7 l8 offset-l1">
        <h5>Заказанные блюда</h5>

        <preloader ng-if="$ctrl.ordersLoading"></preloader>

        <table class="bordered" ng-if="!$ctrl.ordersLoading">
            <tbody>
            <tr ng-repeat="order in $ctrl.orderList">
                <td>
                    <b class="title">{{order.dish.title}}</b>
                    <p><b>Сумма заказа:</b> {{order.sum | currency}}</p>
                    <div ng-if="order.status == 'Возникли сложности'">
                        <button class="waves-effect red darken-1 btn" ng-click="$ctrl.cancelOrder(order)">Отменить
                        </button>
                        <button class="waves-effect blue darken-1 btn"
                                ng-click="$ctrl.repeatOrder(order)"
                                ng-if="$ctrl.enoughMoney(order.sum)">Повторить c 5%
                        </button>
                        <span ng-if="!$ctrl.enoughMoney(order.sum)">Пополните баланс на
                            {{$ctrl.getEnoughMoney(order.sum) | currency}}</span>
                    </div>
                </td>
                <td style="vertical-align: top" class="status">{{order.status}}</td>
                <td style="vertical-align: top">
                    <timer start="order.created" finish="order.finished"></timer>
                </td>
            </tr>
            </tbody>
        </table>
        <br/><br/>
        <a ui-sref="dish-list" class="waves-effect waves-light btn add-dish-btn">Добавить</a>
    </div>
</div>